@media screen and (min-width: 1200px) {
  .hero-img {
    margin: 0 auto;
    max-width: 1440px;
    padding: var(--hero-container-gap) 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(".././img/hero-desktop@2x-min.jpg");
  }

  .container {
    width: 1158px;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .footer-flex {
    display: flex;
  }

  .section {
    padding: 120px 0;
  }

  /**-------------MAIN PAGE--------------*/
  /**--------TOP LINE SECTION-------*/
  header {
    border-bottom: 1px solid var(--white-text-color);
  }

  .header {
    padding-bottom: 24px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-flex {
    display: flex;
    align-items: center;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu-nav.list {
    margin-left: 76px;
    padding-left: 0px;
  }

  .nav-link {
    display: block;
    position: relative;

    font-weight: var(--header3-font-weight);
    color: var(--modal-overay-color);
    padding: var(--padding-gap) 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  address.contacts {
    margin-left: 332px;
  }

  .contacts-nav {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-left: auto;
    min-width: 345px;
  }

  .nav {
    display: block;
    position: relative;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    text-decoration: none;
    font-weight: 500;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts a,
  .address.link {
    display: block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    color: var(--text-color);
    line-height: var(--header3-line-height);
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address {
    display: block;
  }

  /**-------MODAL WINDOW------------*/
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0);
  }

  .input-text {
    color: var(--grey-fill-color);
    font-size: 12px;
    line-height: 1.33;
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .modal {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 24px;
    background: var(--modal-bg-color);

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .modal-close {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: var(--modal-button-bg-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close:hover,
  .modal-close:focus {
    background-color: var(--btn-active-color);
    /* border: none; */
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }

  .svg-button {
    fill: var(--svg-btn-fill);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .svg-button:hover .svg-button:focus {
    background-color: var(--btn-active-color);
    border: none;
  }

  .svg-button:hover > use,
  .svg-button:focus > use {
    fill: var(--primary-white-color);
  }

  .modal-close:hover .svg-button,
  .modal-close:focus .svg-button {
    fill: var(--primary-white-color);
  }

  .overlay {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /**Form-modal-backdrop*/

  .modal-title {
    font-weight: 500;
    text-align: center;
    color: var(--modal-title-color);
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .input-text {
    display: block;
    margin-bottom: 4px;

    color: var(--grey-fill-color);

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .input-wrap {
    display: block;
    position: relative;
  }

  .modal-input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 8px 38px;
    margin-bottom: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:hover,
  .modal-input:focus {
    border: 1px solid #4d5ae5;
  }

  .modal-input:hover + .modal-icon,
  .modal-input:focus + .modal-icon {
    fill: var(--accent-text-color);
  }

  .modal-icon {
    position: absolute;
    left: 0;
    top: 0;
    fill: var(--modal-overay-color);
    margin-left: 16px;
    margin-top: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    background-color: transparent;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea:hover,
  .textarea:focus {
    border: 1px solid var(--accent-text-color);
  }

  .check-text {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 16px;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    color: var(--chek-text-color);
  }

  .check-text span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1.25px solid #2e2f42;
    border-radius: 2px;

    fill: transparent;
  }

  .input-check:checked + .check-text > span {
    background-color: var(--btn-active-color);
    border: 1.25px solid var(--btn-active-color);
    border-radius: 2px;
    fill: var(--white-background-color);
  }

  .input-check:focus + .check-text > span {
    border-color: var(--btn-active-color);
    fill: var(--white-background-color);
  }

  .form-check-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--accent-text-color);
    margin-left: 4px;
  }
  .submit-modal-btn {
    display: block;
    margin: 0 auto;
    width: 169px;
    height: 56px;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    margin-top: 24px;
    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .submit-modal-btn:hover,
  .submit-modal-btn:focus {
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
  }

  /**----HERO SECTION-------*/
  .section-hero {
    max-width: var(--page-width);
    padding: var(--hero-container-gap) 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(".././img/hero-bg-img.jpg");
  }

  .hero-img .container {
    margin: auto;
  }

  .hero-msg {
    margin: 0px auto 48px;
    max-width: 496px;
    text-align: center;
    color: var(--primary-white-color);
    font-size: var(--header1-font-size);
    line-height: 1.1;
    font-weight: var(--header1-font-weight);
  }

  /** Section containers */
  .features-list,
  .information-list,
  .team-list {
    display: flex;
    justify-content: space-between;
  }

  .section {
    padding: 120px 0;
  }

  /**-------FEATURES SECTION--------*/
  .feature-title {
    margin: 8px 0;
    font-weight: var(--header3-font-weight);
    font-size: var(--header3-font-size);
    line-height: var(--text-line-height);
    letter-spacing: 0.02em;
  }

  .feature-content {
    max-width: 396px;
    font-size: var(--regular-font-size);
    line-height: var(--feature-widthtext-line-height);
    letter-spacing: 0.02em;
    font-weight: var(--text-font-weight);
    color: var(--text-color);
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--items-gap);
  }

  .feature-item {
    width: var(--feature-width);
  }

  .feature-item:not(:last-child) {
    margin-bottom: 0;
  }

  .feature-icn-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background: var(--icons-bg-color);
    border-radius: 4px;
  }

  .feature-icn {
    height: 64px;
    width: 64px;
  }

  .hidden {
    position: absolute;
    white-space: nowrap;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    width: 1px;
  }

  /**--------WHAT ARE WE DOING SECTION----------*/
  .information {
    padding-top: 0;
    padding-bottom: 120px;
    display: flex;
  }

  .information .container {
    margin: auto;
  }

  .information-list {
    display: flex;
    gap: var(--items-gap);
  }

  /**----------- OUR TEAM SECTION------------- */

  .team-container {
    padding: 120px 0;
  }

  .team .container {
    margin: auto;
  }

  .team-list {
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }

  .team-list .team-item:nth-child(even) {
    margin-left: 0;
  }
  .team-list .team-item:nth-child(1) {
    margin-bottom: 0;
  }
  .team-list .team-item:nth-child(2) {
    margin-bottom: 0;
  }

  .team-item {
    text-align: center;
  }

  /**-------------CUSTOMERS SECTION--------------*/
  .customers {
    margin-bottom: 4px;
  }

  .customers-container {
    padding-top: 0;
    padding-bottom: 0;
    width: 1158px;
  }

  .customers-card {
    width: calc((100% - 120px) / 6);
  }

  /* .customers-logos { */
  /* justify-content: space-between; */
  /* flex-wrap: nowrap; */
  /* } */

  /* .customers-card { */
  /* flex-basis: calc((100% - 24px) / 4); */
  /* height: 88px; */
  /* } */

  /**------------------FOOTER SECTION--------------- */
  .footer {
    padding: 100px 0px;
    width: 100%;
  }

  .container.footer-container {
    flex-wrap: nowrap;
    margin-left: 0 auto;
    align-items: baseline;
    display: inline-flex;
    width: 1158px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 0;
    padding: 0;
  }

  .footer-flex {
    display: inline-flex;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .footer-logo-box {
    width: 264px;
    margin-right: 70px;
    flex-shrink: 0;
  }

  .footer-content {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .footer-media-box {
    margin: 0;
    padding: 0;
  }

  .footer-subscribe-box {
    margin-top: 0px;
    margin-left: 80px;
  }
  .footer-media-header {
    margin-bottom: 16px;
  }
}
