@media screen and (min-width: 1200px) {
  /**-----CONTAINER-------*/
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  /**----HERO SECTION-------*/
  .hero-img {
    margin: 0 auto;
    max-width: var(--page-width);
    padding: var(--hero-container-gap) 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(".././img/group-people-working-website-template.jpg");
  }

  .hero-title {
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
  }
}
/* @media (min-device-pixel-ratio: 2), */
/* (min-resolution: 192dpi), */
/* (min-resolution: 2dppx) { */
/* .hero-img { */
/* background-image: linear-gradient( */
/* rgba(46, 47, 66, 0.7), */
/* rgba(46, 47, 66, 0.7) */
/* ), */
/* url(".././img/hero-desktop@2x-min.jpg"); */
/* } */
/* } */
