:root {
  --primary-text-color: rdba(0, 0, 0, 0.8);
  /**Slate - Body Text */
  --text-color: #434455;
  /**Navy Blue - Dark */
  --title-text-color: #2e2f42;
  /**Iris - Primary Brand  */
  --accent-text-color: #4d5ae5;
  /**Ocean - Pressed State*/
  --btn-active-color: #404bbf;
  /**Green - Success*/
  --success-color: #31ddaa;
  /**Cloud - Light*/
  --white-title-text-color: #f4f4fd;
  --white-background-color: #f4f4fd;
  /**Cornflower - Accent*/
  --white-text-color: #e7e9fc;
  --chek-text-color: #757575;
  /**White - White background */
  --primary-white-color: #fff;
  /**Navy Blue Modal - Modal overay*/
  --modal-overay-color: #2e2f42;
  /**Grey - Hero background*/
  --dark-background-color: #2e2f42;
  /**Dairy - Modal background */
  --modal-bg-color: #fcfcfc;

  --modal-title-color: #2e2f42;

  --icons-fill-color: #fff;

  --icons-bg-color: #f5f5f5;

  --grey-fill-color: #8e8f99;

  --btn-active-border-color: #9747ff;

  --svg-btn-fill: #000;

  --modal-button-bg-color: #e7e9fc;

  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --header1-font-size: 56px;
  --header2-font-size: 36px;
  --header3-font-size: 20px;
  --logo-font-size: 18px;
  --regular-font-size: 16px;
  --text-font-size: 14px;

  --text-font-weight: 400;
  --header3-font-weight: 500;
  --header1-font-weight: 700;

  --header1-line-height: 1.07;
  --header2-line-height: 1.11;
  --header3-line-height: 1.15;
  --text-line-height: 1.2;
  --footer-content-line-height: 1.5;
  --feature-widthtext-line-height: 1.5;
  --header-logo-line-height: 1.3;

  --page-width: 1440px;
  --content-width: 1188px;
  --feature-width: 264px;
  --filters-width: 586px;
  --footer-content-width: var(--feature-width);

  --footer-padding-gap: 156px;
  --padding-gap: 24px;
  --items-gap: 24px;
  --footer-media-gap: 16px;
  --hero-container-gap: 188px;
  --hero-bg: rgba(46, 47, 66, 0.7);
  --card-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12),
    1px 0px 2px rgba(0, 0, 0, 0.08), 1px 0px 3px rgba(0, 0, 0, 0.1);
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** Resets */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

button {
  cursor: pointer;
  font: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: var(--primary-font-family), sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.04em;
  cursor: pointer;
}

a.active.link {
  text-decoration: none;
  color: var(--btn-active-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.active.link:hover {
  color: var(--btn-active-color);
}

.section {
  padding: 120px 0;
}

/**-----CONTAINER-------*/
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


/** Main page section titles */
.title {
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0px;

  color: var(--title-text-color);
  font-size: var(--header2-font-size);
  line-height: 1.1;
  text-transform: capitalize;
}

.secondtitle {
  text-align: center;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 24px;

  color: var(--title-text-color);
  line-height: var(--text-line-height);
  text-transform: capitalize;
  text-decoration: none;
}

.content {
  font-weight: var(--text-font-weight);
  font-size: var(--regular-font-size);
  line-height: 1.5;
  color: var(--text-color);
}

.centred {
  text-align: center;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: var(--primary-font-family), sans-serif;
  letter-spacing: 0.02em;
}

/**--------TOP LINE SECTION-------*/
.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--white-text-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  text-decoration: none;
}

.logo-web {
  font-family: var(--secondary-font-family);
  font-size: var(--logo-font-size);
  line-height: var(--header-logo-line-height);
  font-weight: var(--logo-font-weight);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-text-color);
}

.logo-studio {
  font-weight: var(--logo-font-weight);
  font-family: var(--secondary-font-family);
  font-size: var(--logo-font-size);
  line-height: var(--header-logo-line-height);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-text-color);
}

.white-logo-studio {
  color: var(--white-title-text-color);
  text-align: center;
  text-decoration: none;
}

.menu-nav.list,
.nav,
.contacts-nav {
  display: none;
}

.mob-menu-open-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.mob-menu-open-icn {
  stroke: var(--title-text-color);
}

/**-----MOBIL MENU------*/

.mob-menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  padding: 30px;
  background-color: var(--primary-white-color);

  overflow: auto;
}

.mob-menu-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-color: var(--white-text-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-icon {
  fill: var(--svg-btn-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:hover,
.mob-menu-close-btn:focus {
  background-color: var(--btn-active-color);
  border: none;
}

.mob-menu-close-btn:hover .mob-menu-close-icon,
.mob-menu-close-btn:focus .mob-menu-close-icon {
  fill: var(--icons-fill-color);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 80px 16px;
  /* outline: 1px solid red; */
}

.mob-menu-list .link.active {
  color: var(--accent-text-color);
}
.mob-menu-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.mob-menu-contacts {
  display: flex;
  flex-direction: column;
}

.mob-menu-item {
  font-weight: var(--header1-font-weight);
  font-size: var(--header2-font-size);
  line-height: var(--header2-line-height);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;

  color: var(--modal-title-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
  /* outline: 1px solid red; */

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address-list .mob-menu-tel {
  font-weight: var(--header1-font-weight);
  font-size: var(--header2-font-size);
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-address-list .mob-menu-mail {
  margin-top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: var(--header3-font-weight);
  font-size: var(--header3-font-size);
  line-height: var(--text-line-height);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.mob-menu-address-list .link.active {
  color: var(--accent-text-color);
}

.mob-menu-address-list .link {
  display: block;
  line-height: 1.1;
  cursor: pointer;
  color: var(--modal-title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 40px;
}

.mob-menu-contacts .mob-menu-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;

  color: var(--accent-text-color);
  text-decoration: none;
  font-style: normal;
}

.mob-menu-contacts .mob-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
}

.mob-nav-menu-wrap .mob-tel {
  margin-top: 284px;
}

.mob-nav-menu-wrap .mob-mail {
  margin-top: 40px;
}

.mob-menu-item.active {
  color: var(--accent-text-color);
}

.mob-menu-auth-nav {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 40px;
}

.mob-menu-address-list .mob-tel {
  margin-bottom: 40px;
}

.mob-menu-address-list .mob-mail {
  margin-bottom: 48px;
}

.mob-menu-auth-nav .link {
  color: var(--modal-overay-color);
  text-decoration: none;
  font-style: normal;
}
.mob-menu-auth-nav .link:hover,
.mob-menu-auth-nav .link:focus {
  color: var(--accent-text-color);
}

.mob-menu-close-btn:hover .mob-menu-close-icon,
.mob-menu-close-btn:focus .mob-menu-close-icon {
  fill: var(--icons-fill-color);
}

.mob-menu-bottom {
  margin-top: auto;
  /* outline: 1px solid  green; */
}

.mob-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-text-color);
  text-decoration: none;
  font-style: normal;
}

.mob-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  font-style: normal;
  color: var(--text-color);
}

.header-list,
.header-link,
.auth-nav {
  display: none;
}

.mob-menu-media-items {
  display: flex;
  justify-content: space-between;
  margin: 0px 24px 16px;
  /* outline: 1px solid orange; */
}

.mob-menu-media-item {
  width: 40px;
  height: 40px;
}
.mob-menu-media-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-text-color);
  /* outline: 1px solid yellowgreen; */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-media-link:hover {
  background-color: var(--accent-text-color);
}
.mob-menu-link:focus {
  background-color: var(--accent-text-color);
}

.mob-menu-icn {
  width: 24px;
  height: 24px;
  fill: var(--white-title-text-color);
}

/**----HERO SECTION-------*/
.hero-img {
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  /* width: var(--page-width); */
  padding: 112px 0px;
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(".././img/hero-bg-img.jpg");
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.hero-msg {
  margin: 0px auto 72px;
  max-width: 320px;
  text-align: center;
  color: var(--primary-white-color);
  font-size: var(--header2-font-size);
  line-height: 1.1;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  line-height: 1.5;
  outline: none;
  border: 1px solid var(--accent-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: var(--btn-active-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-btn:focus {
  background-color: var(--btn-active-color);
  color: var(--primary-white-color);
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.05);
}

/**-------MODAL WINDOW------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  max-width: 392px;
  min-height: 586px;
  padding: 24px;
  background: var(--modal-bg-color);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;

  background-color: var(--modal-button-bg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.svg-button:hover {
  background-color: var(--btn-active-color);
  fill: var(--modal-button-bg-color);
}

.svg-button {
  height: 8px;
  width: 8px;

  fill: var(--svg-btn-fill);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-button:hover,
.svg-button:focus {
  background-color: var(--btn-active-color);
  border: none;
}

.modal-close:hover .svg-button,
.modal-close:focus .svg-button {
  fill: var(--primary-white-color);
}

/**Form-modal-backdrop*/

.modal-title {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: var(--header3-font-weight);

  color: var(--modal-title-color);
}

.form-container {
  position: relative;
  max-width: 360px;
  margin-bottom: 8px;
}

.input-text {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: var(--modal-input-line-height);
  letter-spacing: 0.04em;

  color: var(--grey-fill-color);
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-input {
  position: relative;

  width: 100%;
  height: 40px;
  padding: 8px 38px;
  margin-bottom: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover {
  border: 1px solid var(--accent-text-color);
}

.modal-input:focus {
  border: 1px solid var(--accent-text-color);
}

.modal-input:hover + .modal-icon {
  fill: var(--accent-text-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

.modal-icon {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 16px;
  margin-top: 8px;

  fill: var(--modal-overay-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  background-color: transparent;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus {
  border: 1px solid var(--accent-text-color);
}

.check-text {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--chek-text-color);
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;

  fill: transparent;
}

.input-check:checked + .check-text > span {
  background-color: var(--btn-active-color);
  border: 1.25px solid var(--btn-active-color);
  border-radius: 2px;
  fill: var(--white-background-color);
}

.input-check:focus + .check-text > span {
  border-color: var(--btn-active-color);
  fill: var(--white-background-color);
}

.form-check-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--accent-text-color);
  margin-left: 4px;
}

.submit-modal-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  margin-top: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-modal-btn:hover,
.submit-modal-btn:focus {
  background-color: var(--btn-active-color);
  color: var(--primary-white-color);
}

.footer-media:is(:hover, :focus) {
  background-color: var(--success-color);
}

/**-------FEATURES SECTION--------*/

.feature-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-item {
  width: 100%;
}

.feature-item:not(:last-child) {
  margin-bottom: 74px;
}

.feature-title {
  margin: 8px 0;
  font-weight: var(--header1-font-weight);
  font-size: var(--header2-font-size);
  line-height: var(--header2-line-height);
  letter-spacing: 0.02em;
}

.feature-content {
  color: var(--text-color);
  font-weight: var(--header3-font-weight);
  font-size: var(--regular-font-size);
  line-height: var(--feature-widthtext-line-height);
  letter-spacing: 0.02em;
}

/**FEATURE SECTION ICONS*/

.feature-icn-box {
  display: none;
}

.feature-icn {
  height: 64px;
  width: 64px;
}

/**--------WHAT ARE WE DOING SECTION----------*/
.information {
  display: none;
}

/**----------- OUR TEAM SECTION------------- */

.team-container {
  padding: 120px 0;
}

.team {
  background-color: var(--white-background-color);
}

.team-container {
  margin: auto;
  background-color: var(--white-background-color);
}

.team-item {
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0px;
  gap: 72px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item img {
    width: 264px;
}

.team-items {
  margin: auto;
  padding: 32px 0;
  text-align: center;
}

.teamplayers-name {
  margin-bottom: 8px;
  font-size: var(--header3-font-size);
  font-weight: 500;
  color: var(--title-text-color);
  line-height: 1.2;
}

.teamplayers-position {
  line-height: 1.5;
  color: var(--text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--items-gap);
}

/**OUR TEAM SECTION ICONS*/

.media-icns {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-media {
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media:hover {
  background-color: var(--btn-active-color);
}

.team-media:focus {
  background-color: var(--btn-active-color);
}

.media-icns {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.media-icon {
  fill: var(--white-title-text-color);
}

.team-icon {
  width: 16px;
  height: 16px;
  fill: var(--icons-fill-color);
}

.media-item {
  width: 40px;
  height: 40px;
}

.team-media {
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media:hover,
.team-media:focus {
  background-color: var(--btn-active-color);
  outline: none;
}

/**-------------CUSTOMERS SECTION--------------*/

.customers-container {
  padding: 96px 16px;
  /* outline: 1px solid blue; */
}

.customers-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
  /* outline: 1px solid red; */
}

.customers-card {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--grey-fill-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:focus,
.customers-item:hover {
  outline: none;
  border: 1px solid var(--btn-active-color);
}

/**CUSTOMERS SECTION ICONS*/

svg.customers-icon {
  width: 104px;
  height: 56px;
  fill: var(--grey-fill-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item:hover .customers-icon {
  fill: var(--btn-active-color);
}

.customers-item:focus .customers-icon {
  fill: var(--btn-active-color);
}

/**------------------FOOTER SECTION--------------- */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
  background-color: var(--dark-background-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-first-part {
  width: 268px;
}

.footer-logo-box {
  padding-bottom: 72px;
}

.footer-logo-box .logo {
  line-height: var(--header-logo-line-height);
}

.footer-content {
  text-align: left;
  width: var(--footer-content-width);
  max-width: calc(100% - 16px);
  margin-top: 16px;
  line-height: var(--footer-content-line-height);

  color: var(--white-text-color);
}

.footer-media-box {
  margin-left: 0px;
}

.footer-media-header,
.footer-subscribe-header {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: var(--footer-content-line-height);
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.footer-media-icns {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: var(--footer-media-gap);
}

.footer-second-part {
  width: 100%;
}

.footer-subscribe-header {
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(256, 255, 255, 0.1);
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: var(--footer-media-gap);
}

svg.footer-icon {
  width: 24px;
  height: 24px;
}

.footer .footer-icon {
  fill: var(--icons-fill-color);
}

.footer-media:is(:hover, :focus) {
  background-color: var(--success-color);
}

.footer-second-part {
  width: 100%;
}

.footer-subscribe-box {
  width: 100%;
}

.footer-subscribe {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 8px 24px;
  background: var(--accent-text-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--btn-active-color);
}

/**----------------PORTFOLIO HOVER---------------*/
.portfolio-cardhover {
  position: relative;
  overflow: hidden;
  max-width: calc();
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  background-size: cover;
}

.portfolio-cardhover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: justify;

  font-weight: 400;
  font-size: 16px;
  color: var(--white-title-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  background-color: var(--accent-text-color);
}

.card-item:hover .portfolio-cardhover-text {
  transform: translate(0);
}

/**-----PORTFOLIO PAGE------*/

section.portfolio {
  display: flex;
  justify-content: center;
}

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 72px;
  justify-content: start;
  gap: 24px;
}

.filters {
  display: block;
  min-width: 69px;
  height: 48px;
  padding: calc(var(--padding-gap) / 2) var(--padding-gap);
  font-size: var(--regular-font-size);
  letter-spacing: 0.04em;
  font-weight: 500;
  background: var(--white-background-color);
  border: 1px solid var(--white-text-color);
  border-radius: 4px;
  color: var(--accent-text-color);
  background-color: var(--white-background-color);
  line-height: 1.5;
  transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters:is(:focus, :hover) {
  background-color: var(--btn-active-color);
  color: var(--primary-white-color);
}

.filters:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card-item {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;

  border-top: none;
  background: var(--primary-white-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card-box {
  padding: 32px 16px;
  border: 1px solid var(--white-text-color);
  border-top: none;
}

.card-box:is(:hover, :focus) .card-box {
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--white-title-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-title {
  /* h3.content.name { */
  margin-bottom: 8px;
  font-family: var(--primary-font-family);
  font-size: var(--header3-font-size);
  font-weight: var(--header3-font-weight);
  color: var(--title-text-color);
}

.card-text {
  color: var(--text-color);
}

@media screen and (min-width: 768px) {

  /**--------HERO SECTION---------*/

  .hero-img {
  padding-top: 112px;
  padding-bottom: 112px; 
  margin: 0 auto; 
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(".././img/hero-mobile@2x-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
}


  .hero-msg {
    margin: 0 auto;
    max-width: 494px;
    font-size: 56px;
    line-height: 1.1;
    color: var(--primary-white-color);
  }

  @media screen and (max-width: 479px) {
  .container {
    max-width: 428px;
    width: 100%;
    /* outline: 1px solid blue; */
  }

  .hero-img {
    width: 100%;
  }

  .feature-item {
    width: 396px;
  }

  .modal {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .footer > .container {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-first-part {
    max-width: 268px;
  }

  .footer-logo-box {
    padding-bottom: 72px;
  }

  .footer-logo-box .logo {
    line-height: var(--header-logo-line-height);
  }

  .footer-content {
    text-align: left;
    max-width: calc(100% - 16px);
    margin-top: 16px;
    line-height: var(--footer-content-line-height);

    color: var(--white-text-color);
  }

  .footer-media-box {
    padding-bottom: 72px;
    margin-left: 0px;
  }

  .footer-content {
    max-width:264px;
    padding: 0 auto;
    text-align: left;
  }

  .footer-form {
    max-width: 100%;
  }

}

@media screen and (max-width 390px) {
  /**-----MOBIL MENU------*/

.modal {
  max-width: 100%;
}

.modal-input {
  max-width: 100%;
}
}
