:root {
    --primary-text-color: rdba(0, 0, 0, 0.8);
    /**Slate - Body Text */
    --text-color: #434455;
    /**Light Slate - Subtle Text */
    --helper-text-color: var(--helper-text-color);
    /**Navy Blue - Dark */
    --title-text-color: #2E2F42;
     /**Iris - Primary Brand  */
    --accent-text-color: #4D5AE5;
    /**Ocean - Pressed State*/
    --btn-active-color: #404BBF;
    /**Green - Success*/
    --success-color: #31DDAA;
    /**Cloud - Light*/
    --white-title-text-color:#F4F4FD;
    --white-background-color: #F4F4FD;
    /**Cornflower - Accent*/
    --white-text-color: #E7E9FC;
    /**White - White background */
    --primary-white-color: #FFFFFF;
    /**Navy Blue Modal - Modal overay*/
    --modal-overay-color: #2E2F42;
    /**Grey - Hero background*/
    --dark-background-color: #2E2F42;
    /**Dairy - Modal background */
    --modal-bg-color: #FCFCFC;

    --icons-fill-color: #E5E5E5;

    --cutomers-logo-fill-color: #8e8f99;
    
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --header1-font-size: 56px;
    --header2-font-size: 36px;
    --header3-font-size: 20px;
    --logo-font-size: 18px;
    --regular-font-size: 16px;
    --text-font-size: 14px;

    --text-font-weight: 400;
    --header3-font-weight: 500;
    --header1-font-weight: 700;

    --header1-line-height: 1.07;
    --header2-line-height: 1.11;
    --header3-line-height: 1.15;
    --text-line-height: 1.20;
    --feature-widthtext-line-height: 1.50;
    --header-logo-line-height: 1.33;
    --footer-logo-line-height: 1.17;

    --page-width: 1440px;
    --content-width: 1188px;
    --feature-width: 264px;
    --filters-width: 586px;
    --footer-content-width: var(--feature-width);

    --footer-padding-gap: 156px;
    --padding-gap: 24px;
    --hero-container-gap: 188px;
    --hero-bg: rgba(46, 47, 66, 0.7);
    --card-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12),
    1px 0px 2px rgba(0, 0, 0, 0.08), 1px 0px 3px rgba(0, 0, 0, 0.1);
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.centred {
    text-align: center;
}

/** hide lists dots */
.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/** Reset internal indents */
ul { 
  padding: 0px;
  list-style: none; 
} 

/** Reset external indents-widthdents */
h1, 
h2,
h3, 
h4, 
p, 
ul { 
  margin: 0; 
}

/** Reset extra spases around imgs and set max-wudth */
img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    font: inherit;
}

/** Link decorations */
a.active.link {
    text-decoration:none;
    color: var(--btn-active-color);
}

a.active.link:hover {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--btn-active-color);
}

a.link:is(:hover, :focus) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration-line:var(--btn-active-color); 
    color: var(--btn-active-color);  
}

/** Hidden header styles*/
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** .body-container.main */
body {
    background-color: var(--primary-white-color);
    color: var(--text-color);
    font-family: var(--primary-font-family), sans-serif;
    letter-spacing: 0.02em; 
}

 /** Container */
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/**-------------MAIN PAGE--------------*/
/**--------TOP LINE SECTION-------*/
header {
    border-bottom: 1px solid var(--white-text-color);
    position: relative;
}

.header .container {
    display:flex;
    justify-content: space-between;
}

.page-nav {
    display:flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font-family);
    font-size: var(--logo-font-size);
    line-height: var(--header-logo-line-height);
    text-decoration: none;
}

.logo-web {
    color: var(--accent-text-color);
}

.logo-studio {
    color: var(--title-text-color);
}

.white-logo-studio {
    color: var(--white-title-text-color);
}

/** Top line Menu nav */
.menu-nav.list{
    display:flex;
    margin-left: 76px;
    padding-left: 0px;
    gap: 40px;
}

.menu-nav > .item:first-child {
    margin-left: 40px;
} 

.nav{
    position:relative;
    display:block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    text-decoration: none;
    font-weight: 500;
    color: var(--title-text-color);
}

.nav.active {
    border-bottom: 4px solid #404BBF;
}

.nav:hover, .nav:focus {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--btn-active-color);
}

.nav:hover::after {
    content: "";
    position: absolute;
    display:block;
    height: 2px;
    width: 100%;
    /* width: calc(100%); */
    border-bottom: 4px solid #404BBF;
    padding: 12px 0;
}

.contacts.list > ul {
    display:flex;
    gap: 40px;
}

.contacts a,
.address.link {
    display:block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    color: var(--text-color);
    line-height: var(--header3-line-height);
    font-style: normal;
    text-decoration: none;
}

.contacts > .item:not(:first-child) {
    margin-left: 40px;
}

/**-------MODAL WINDOW------------*/
.modal-window {
    text-align: center;
    margin-bottom: 16px;
    color: var(--text-head-line-color);
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

.input-text {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.33;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%0);
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 400px;
    min-height: 576px;
    padding: 72px 24px 24px 24px;

    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close:hover {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404BBF;
    border-color: var(--btn-active-color);
}

.modal-close:hover .svg-button {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #fff;
}

/**--------HERO SECTION---------*/
  /** HERO-img container */

 .hero-img {
    margin: auto;
    width: var(--page-width);
    padding: var(--hero-container-gap) 0;
    background-color: var(--dark-background-color);
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(".././img/group-people-working-website-template.jpg");
 }

 .hero-msg {  
    margin: 0px auto 48px;
    color: var(--white-text-color);
    font-size: var(--header1-font-size);
    line-height: var(--header1-line-height);
    font-weight: var(--header1-font-weight);
    width: 496px;
    text-align: center;
 }

.hero-btn {
    display: block;
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    line-height: var(--text-line-height);
    font-weight: 500;
    font-size: 16px;
    outline: none;
    border: 1px solid #9747FF; 
}

.hero-btn:is(:hover,:focus) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
    border: 1px solid #9747FF;
}


/** Main page section titles */
.title {
    text-align: center;
    margin-bottom: 72px;
    margin-top: 0px;  
    color: var(--title-text-color);
    font-size: var(--header2-font-size);
    line-height: var(--header2-line-height);
}

/** Section containers */
.features-list,
.information-list,
.team-list {
    display: flex;
    justify-content: space-between;
}

.section {
    padding: 120px 0;
}

/**-------FEATURES SECTION--------*/
.feature-item {
    width: var(--feature-width);
}

li.feature.list:last-child {
    margin-right: 0px;
}

.feature-title {
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-size: var(--header3-font-size);
    font-weight: 500;
    line-height: var(--header3-line-height);
}

.feature-content { 
    color: var(--text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**FEATURE SECTION ICONS*/
.feature-icn-box {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border-radius: 4px solid #F4F4FD;
}

.feature-icn-box:hover .feature-icn,
.feature-icn-box:focus .feature-icn {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--accent-text-color);
    border-radius: 4px solid var(--accent-text-color);
}

.feature-icn:is(:hover, :focus) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    fill: var(--accent-text-color);
}
.feature-icn:is(:hover, :focus) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    fill: var(--accent-text-color);
}

.feature-icn-box:hover,
.feature-icn-box:focus {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: 1px solid var(--accent-text-color);
}

/**--------WHAT ARE WE DOING SECTION----------*/
.information {
    padding-top: 0;
}

.information-item {
    box-sizing: border-box;
    width: 360px;
    height: 300px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 4px;
}

/**----------- OUR TEAM SECTION------------- */
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--white-title-text-color);
}

.team-item { 
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-items{
    padding: 32px 0; 
    text-align: center;
}

.team-icon {
    fill: var(--icons-fill-color);
}

ul.card-content.list li {
    margin-left: 0px;
}

.teamplayers-name {
    margin-bottom: 8px;
    font-size: var(--header3-font-size);
    font-weight: 500;
    color: var(--title-text-color);
    line-height: var(--header3-line-height);
}

.teamplayers-position {
    line-height: 1.5;
    color: var(--text-color);
}

/**OUR TEAM SECTION ICONS*/

ul.media-icns {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-around;
}

.media-icns > .item {
    width: 40px;
    height: 40px;
}

.section-team .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 232px;
    height: 40px;
    fill: var(--icons-fill-color);
}

.team-media {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-text-color);
    border-radius: 50px;
    border: 3px solid transparent;
}

.team-media:is(:hover, :focus) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--btn-active-color);
    border-color: var(--btn-active-color);
    outline: none;
}


/**-------------CUSTOMERS SECTION--------------*/

.customers .container {
    padding: 120px 0px;
    align-items: center;
}

.customers-logos.list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    width: var(--content-width);
    height: 88px;
    gap: 24px;
    order: 0;
    flex-grow: 0; 
    background-color: var(--primary-white-color);
}

.customers-card {
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.customers-item:hover,
.customers-item:focus {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: 1px solid var(--btn-active-color);
}

.customers-card:hover,
.customers-card:focus {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: 1px solid var(--btn-active-color);
}

/**CUSTOMERS SECTION ICONS*/
.customers-item:is(:hover, :focus) > .customers-icon {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--btn-active-color);
}

.customers-item > .icon {
    width: 168px;
    height: 88px;
    order: 0;
    flex-grow: 0;
    fill: var(--helper-text-color);
}

svg.customers-icon {
    display:block;
    text-align: center;
    min-width: 104px;
    min-height: 56px;
    fill:#8E8F99;
    padding: 16px 32px;
    width: 100%;
    height: 100%;
    background: var(--white-background-color);
}

/**------------------FOOTER SECTION--------------- */
.footer {
    padding: 100px 0;
    background-color: var(--dark-background-color);
}

.footer .container {
    display: flex;
    gap: 120px;
}

.logo-box {
    height: 110px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer-content {
    margin-top: 16px;
    width: var(--footer-content-width);
    color: var(--white-text-color);
    line-height: var(--header3-line-height);
}

/**PAGE FOOTER ICONS*/

.footer-media-box {
    padding-bottom: 0px;
    margin-bottom: 0px;
} 

.footer-content {
    margin-top: 16px;
    width: var(--footer-content-width);
    color: var(--white-text-color);
    line-height: var(--header3-line-height);
}

.footer-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(243, 243, 251, 0.1);
    border: 1px solid transparent;
    border-radius: 50%
}  

svg.footer-icon > use {
    width: 24px;
    height: 24px;
}

.media-icon {
    fill:#fff;
}

.footer-media:is(:hover, :focus) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--success-color);
    border-color: var(--success-color);
    outline: none;
}

.footer-media-header {
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white-text-color);
    font-family: 'Roboto';
}

.footer .footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 24px;
    height: 24px;
    fill:#E5E5E5;
}

.footer-media-icns {
    width: 280px;
    height: 40px;
    display: flex;
    gap: 24px;
    line-height: var(--footer-logo-line-height);
}
/**----------------PORTFOLIO HOVER---------------*/
.portfolio-cardhover {
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: var(var(--btn-active-color));
    background-size: cover;
    flex-grow: 1;
    padding: 1px;
}

.portfolio-cardhover-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: justify;

    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    background-color: var(--btn-active-color);
}

.card-item:hover .portfolio-cardhover-text {
    transform: translate(0);
}

.portfolio-cardhover {
    position: relative;
    overflow: hidden;
}

/**----------------- PORTFOLIO PAGE ---------------*/
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
    
}

.filter-buttons {
    display:flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}

.filters {
    display: block;
    min-width: 69px;
    height: 48px;
    padding: calc(var(--padding-gap)/2) var(--padding-gap);
    font-size: var(--regular-font-size); 
    font-weight: 500;
    background: var(--white-background-color);
    border: 1px solid var(--white-text-color);
    border-radius: 4px;
    color: var(--accent-text-color);
    background-color: var(--white-background-color);  
    line-height: 1.5;  
}

.filters:is(:focus, :hover) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
}

.filters:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.rows {
    display:flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.card-item {
    width: 360px;
    background: var(--primary-white-color);
}

.card-item:hover {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-box {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--white-text-color);
    border-top: none;
}

.card-title {
/* h3.content.name { */
    margin-bottom: 8px;
    font-family: var(--primary-font-family);
    font-size: var(--header3-font-size);
    font-weight: var(--header3-font-weight);
    color: var(--title-text-color);
}

.card-box:is(:hover, :focus) .card-box {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 

}

/**---------------------MODAL WINDOW PAGE-----------------*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms linear;
  transitioposition: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);n-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 576px;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
}

/** Modal close button*/
.svg-button{
  box-sizing: border-box;
  position:absolute;
  display: block;
  top: 32px;
  right: 32px;
  fill: #2E2F42;
}

.modal-close {
  display: block;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/** Modal nackdrop*/
.backdrop {     
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0;
    background: rgba(46, 47, 66, 0.4);
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-text {
    margin-top: 24px;
    margin-bottom: 24px;
}

.input-text-label {
    /* margin-left: 8px; */
    margin-bottom: 32px;
    font-size: 12px;
    line-height: calc(14 /12);
    letter-spacing: 0.01em;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #8E8F99;
}

.input-textarea::placeholder{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 8px;
    fill: #2E2F42;
}

.modal-field-input, .modal-wrap {
    position: relative;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
}

.modal-field-input:hover, .modal-field-input:focus {
    outline: none;
    border: 1px solid var(--btn-active-color);
}

.modal-field-input:focus .form-icon, .modal-field-input:hover .form-icon {
    fill: #4D5AE5;
}

.modal-field-input .modal-input {
    width: 100%;
    padding: 14px 38px;
}

.subscribe-input {
    display: block;
    width: 264px;
    height: 40px;
    padding: 8px 0px;
    background-color: #2E2F42;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.subscribe-input::placeholder {
    display:block;
    font-size: 12px;
    line-height: 24px;
    display: flex-start;
    margin-left: 0px;
    padding-left: 10px;
    margin-right: auto;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-email{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 16px;
}

.modal-input:hover, .modal-input:focus{
    outline: none;
    border: 1px solid var(--btn-active-color);
}

.input-agree {
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-left: 8px;
}

.modal-field {
    border-radius: 4px;
    width: 360px;
    padding: 14px auto;
    border: 1px solid rdba(46, 47, 66, 0.2);
    margin-bottom: 8px;
}

.modal-field:focus {
    outline: none;
    border: 1px solid var(--btn-active-color);
}

.customer-name:focus .label-name{
    color: var(--btn-active-color);
}

.input-textarea {
    resize: none;
    height: 120px;
    width: 100%;
    padding: auto;
}

.modal-agree {
    display: block;
    margin-top: auto;
}

.modal-send-btn {
    display: block;
    display: flex-start;
    background-color: #4D5AE5;
    color: var(--primary-white-color);
    min-width: 169px;
    margin-top: -6px;
    padding: 8px 16px 8px 24px;
    border-radius: 4px;
    line-height: var(--text-line-height);
    font-weight: 500;
    font-size: 16px;
    text-align: start;
    outline: none;
    border: 1px solid #9747FF; 
}

.modal-send-btn:hover, .modal-send-btn:focus) {
    transition: transform 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
    border: 1px solid #9747FF;
}

.modal-send {
    padding: 0px;
}

.modal-send-btn {
    position: absolute;
}

.icon-send {
    position: relative;
    width: 24px;
    height: 20px;
    left: 110px;
    fill: #ffff;
}