@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-img {
    padding-bottom: 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(".././img/hero-tablet@2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .secondtitle {
    font-size: 36px;
    line-height: 40px;
  }

  .content {
    font-size: 16px;
    line-height: 24px;
  }

  /**-------------MAIN PAGE--------------*/
  /**--------TOP LINE SECTION-------*/

  .header {
    padding: 0px;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 766px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }
  .nav {
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    position: absolute;
    background: var(--btn-active-color);
    border-radius: 2px;
  }

  .menu-nav.list {
    display: flex;
    margin-left: 120px;
    gap: 40px;
  }

  .nav-link {
    display: flex;
    gap: 40px;
  }

  .contacts {
    margin-left: auto;
  }

  .contacts-nav {
    display: block;
    text-align: right;
  }

  .address.link {
    padding-top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .nav-link {
    position: relative;
    display: block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    font-weight: 500;
    text-decoration: none;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    position: absolute;
    background: var(--btn-active-color);
    border-radius: 2px;
  }

  .nav-link:hover {
    color: var(--btn-active-color);
  }

  .nav-link:focus {
    color: var(--btn-active-color);
  }
  .nav-link.active {
    color: var(--btn-active-color);
  }

  .address.link {
    font-style: normal;
    color: var(--text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address.link:hover {
    color: var(--btn-active-color);
  }

  .address.link:focus {
    color: var(--btn-active-color);
  }

  .mob-menu-open-btn {
    display: none;
  }

  /**----HERO SECTION-------*/

  .hero-msg {
    margin-bottom: 40px;
    font-size: 56px;
    max-width: 496px;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  /**-------FEATURES SECTION--------*/

  .feature-section.section {
    padding-bottom: 0;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }

  .feature-item {
    width: 356px;
  }

  .feature-title.secondtitle {
    text-align: left;
    color: var(--title-text-color);
  }

  /**----------- WHAT ARE WE DOING SECTION------------- */
  .section .information {
    display: none;
  }

  /**----------- OUR TEAM SECTION------------- */

  section.team {
    background-color: var(--white-background-color);
    padding: auto;
  }

  .team-container {
    width: 582px;
    padding: 96px 0px;
  }

  .team-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-items {
    padding: 32px 0;
    text-align: center;
  }

  .team-item {
    width: 264px;
    margin: 0px;
    /*  gap: 24px; */
    /* padding: auto; */
    /* align-items: center; */
  }

  .team-item .secondtitle {
    text-align: center;
  }

  .teamplayers-name {
    margin-bottom: 8px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  /**-------------CUSTOMERS SECTION--------------*/

  .customers-card {
    width: 168px;
    height: 88px;
    flex-basis: auto;
  }

  .customers .customers-container {
    padding: 96px 108px;
  }

  .customers-list.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  /**------------------FOOTER SECTION--------------- */

  .footer-container {
    display: flex;
    text-align: left;
  }

  .footer-container {
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;

    padding-left: 108px;
    gap: 24px;
  }

  .logo-web {
    text-align: left;
  }

  .footer-subscribe-box {
    margin-top: 72px;
    margin-bottom: 0;
    width: 453px;
  }

  .footer-first-part {
    display: flex;
    gap: 24px;
  }

  .footer-subscribe-box {
    margin-top: 0;
  }

  .footer-form {
    flex-direction: row;
    align-items: baseline;
    margin-left: 0 auto;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-form-button {
    margin-left: 24px;
  }

  /**-------MODAL WINDOW------------*/

  .modal {
    width: 408px;
    min-height: 586px;
  }
}
